.slidingBar {
	position: absolute;
	top: 0;
	left: 0;
	background-color: white;
	height: 100%;
	width: 479px;
	padding: 1rem;
	pointer-events: fill;
	z-index: 500;
	border-radius: 8px;
}
.truckLogo {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: black;
}
.slidingBar .slideText {
	font-size: 0.9rem;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.slidingBar .nav-tabs .nav-item.show .nav-link,
.slidingBar .nav-tabs .nav-link.active {
	color: #000000;
	border: none;
	background-color: transparent;
	border-color: transparent transparent rgb(0, 0, 0) transparent;
	border-bottom: 2px solid;
}
.slidingBar .nav.nav-tabs {
	background-color: #e4e0e077;
}
.slidingBar .nav-tabs .nav-link {
	color: rgb(97, 94, 94);
}

.slidingBar .nav-tabs .nav-link:hover {
	border-color: transparent transparent rgb(0, 0, 0) transparent;
}
.slidingBar .markers {
	padding: 0.5rem;
}
.slidingBar .markers.active {
	background-color: #d3d3d338;
}
