.actionIcons {
	margin-right: 19px;
}
th {
	font-family: "Mulish";
	font-style: normal;
	font-weight: 800;
	font-size: 12.8px;
	line-height: 16px;

	/* identical to box height */
	text-transform: capitalize;

	color: #808080;
}

