.uploadField {
	font-family: "Noto Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 18px;

	/* identical to box height */
	text-transform: capitalize;

	/* Blue (CTA)i */
	color: #041342;
}
